<h1>Welcome to Shouts</h1>
<p>The site where you shout like a shouter.</p>
<div id="ron_burgandy">
  <h2>Get shouting</h2>
  <p>Have you considered shouting before? I know I have. I love to shout. I like noises.
  </p>
  <div>
    <p><%= link_to "click here", @shouts %><p>
  </div>
</div>